<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")    
    
    
    



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="ContainerMaxWidth900">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Auction Land - Admin", "Index", "Dashboard", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Manage Properties", "Index", "RealEstate")</li>
                    

                </ul>

                @Html.Partial("_LoginPartial")
                
            </div>
            <!-- START Search Nav Bar -->
            <div class="input-group" id="searchNavBar">
                <div class="input-group-btn">
                    <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        A-Z <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Bedrooms</a></li>
                        <li><a href="#">Bathrooms</a></li>
                        <li><a href="#">Garages</a></li>
                        <li><a href="#">Property Size</a></li>
                        <li><a href="#">Bid Price</a></li>
                    </ul>
                    <!--
                Filter Pop Up using Modal and Bootbox <a href="#" class="btn btn-default" onclick="filterPopUp()">Filter BB</a>
            -->
                    <a href="#searchBOOTSTRAP" class="btn btn-default" role="button" data-toggle="modal">Filter</a>

                </div>
                <input type="text" class="form-control" id="searchField" placeholder="Search...">
                <div class="input-group-btn">
                    <a role="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
            <!-- END Search Nav Bar -->
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Auction Land.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootbox")
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
