@model AuctionLand.Web.Models.RealEstateModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

    
    
    
    <ul class="nav nav-tabs" id="tabRealEstateDetail">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#photos" data-toggle="tab">Photos</a></li>
  
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="details">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

      <div class="form-horizontal">
          <h4>RealEstate</h4>
          <hr />
          @Html.ValidationSummary(true)
          @Html.HiddenFor(model => model.Id)

          <div class="form-group">
              @Html.LabelFor(model => model.YearBuilt, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.YearBuilt)
                  @Html.ValidationMessageFor(model => model.YearBuilt)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Summary, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Summary)
                  @Html.ValidationMessageFor(model => model.Summary)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.EstateSize, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.EstateSize)
                  @Html.ValidationMessageFor(model => model.EstateSize)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.LotSize, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.LotSize)
                  @Html.ValidationMessageFor(model => model.LotSize)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Bedrooms, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Bedrooms)
                  @Html.ValidationMessageFor(model => model.Bedrooms)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Bathrooms, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Bathrooms)
                  @Html.ValidationMessageFor(model => model.Bathrooms)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.ListingStatusId, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.ListingStatusId)
                  @Html.ValidationMessageFor(model => model.ListingStatusId)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Featured, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Featured)
                  @Html.ValidationMessageFor(model => model.Featured)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.ListingTypeId, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.ListingTypeId)
                  @Html.ValidationMessageFor(model => model.ListingTypeId)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.OccupancyStatusId, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.OccupancyStatusId)
                  @Html.ValidationMessageFor(model => model.OccupancyStatusId)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.RealEstateTypeId, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.RealEstateTypeId)
                  @Html.ValidationMessageFor(model => model.RealEstateTypeId)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Street, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Street)
                  @Html.ValidationMessageFor(model => model.Street)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.City)
                  @Html.ValidationMessageFor(model => model.City)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.State)
                  @Html.ValidationMessageFor(model => model.State)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Zip)
                  @Html.ValidationMessageFor(model => model.Zip)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Location)
                  @Html.ValidationMessageFor(model => model.Location)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.StartDate)
                  @Html.ValidationMessageFor(model => model.StartDate)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.EndDate)
                  @Html.ValidationMessageFor(model => model.EndDate)
              </div>
          </div>
          <div class="form-group">
              @Html.LabelFor(model => model.SaleDate, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.SaleDate)
                  @Html.ValidationMessageFor(model => model.SaleDate)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.StartingBid, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.StartingBid)
                  @Html.ValidationMessageFor(model => model.StartingBid)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.EndingBid, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.EndingBid)
                  @Html.ValidationMessageFor(model => model.EndingBid)
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.BidIncrement, new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.BidIncrement)
                  @Html.ValidationMessageFor(model => model.BidIncrement)
              </div>
          </div>

          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Save" class="btn btn-default" />
              </div>
          </div>
      </div>
}
  </div>
  <div class="tab-pane" id="photos">
      <input id="btn-add-new-photo" type="button" class="btn btn-default" value="Add New Photo" />
      <div class="real-estate-images-container container">
          <div class="row">
              @foreach (var rei in Model.RealEstateImageModels)
              {
                  <div class="col-xs-6 col-md-3"><a href="#" class="thumbnail"><img src="@rei.ImageUrl" alt="..."></a></div>
              }
          </div>

      </div>
  </div>

</div>

<div id="dialog-add-new-photo" class="hidden">
    @using (Html.BeginForm("Create","RealEstateImage", FormMethod.Post, new { id="add-new-photo-form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h4>Select an image to upload</h4>
        <input type="file" name="ImageFiles" id="ImageFiles" />
        <span>or provide a URL to an image</span>
        <input type="url" name="ImageUrl" id="ImageUrl" value="" />
        
        <input type="hidden" id="RealEstate_Id" name="RealEstate_Id" value="@Model.Id" />
        
        <div class="progress progress-striped active">
  <div id="file-upload-progress" class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    <span class="sr-only">0% Complete</span>
  </div>
</div>

        
    }
</div>
@section scripts{
<script>
    $(document).ready(function () {

        var formHtml = $('#dialog-add-new-photo').html();
        $('#dialog-add-new-photo').remove();
        $("#btn-add-new-photo").click(function () {


            bootbox.dialog({
                message: formHtml,
                title: "Add New Real Estate Photo",
                buttons: {
                 
                    danger: {
                        label: "Cancel",
                        className: "btn-danger",
                        callback: function () {
                            
                        }
                    },
                    main: {
                        label: "Add Photo",
                        className: "btn-success",
                        callback: function () {
                            $('#add-new-photo-form').submit(function (e) {
                                var postData = new FormData($('form')[1]);
                                var formURL = $(this).attr("action");
                                $.ajax(
                                {
                                    url: formURL,
                                    type: "POST",
                                    data: postData,
                                    xhr: function () {  // Custom XMLHttpRequest
                                        var myXhr = $.ajaxSettings.xhr();
                                        if (myXhr.upload) { // Check if upload property exists
                                            myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // For handling the progress of the upload
                                        }
                                        return myXhr;
                                    },
                                    success: function (data, textStatus, jqXHR) {
                                        //data: return data from server
                                        if (data.error) {
                                            bootbox.alert(data.errorMessage);
                                        } else {
                                            var model = data.model;
                                            var html = '<div class="col-xs-6 col-md-3"><a href="#" class="thumbnail"><img src="' + data.model.ImageUrl + '" alt="..."></a></div>';
                                            $('.real-estate-images-container >div.row').append(html);
                                            bootbox.hideAll();
                                        }
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        //if fails     
                                    },
                                    cache: false,
                                    contentType: false,
                                    processData: false
                                });
                                e.preventDefault(); //STOP default action
                                e.unbind(); //unbind. to stop multiple form submit.


                            });
                            $('#add-new-photo-form').submit();
                        }
                    }
                }
            });

            


        });


       

    });

    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            $('#file-upload-progress').attr({ value: e.loaded, max: e.total });
        }
    }
</script>
    }
   


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
