@model IEnumerable<AuctionLand.Data.Entities.RealEstate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstateSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListingStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Featured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListingTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupancyStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstateTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndingBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidIncrement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YearBuilt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstateSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bedrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bathrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListingStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Featured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListingTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupancyStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealEstateTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(model => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndingBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidIncrement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
