@model IEnumerable<AuctionLand.Web.Models.RealEstateModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <button class="btn" onclick="myFunc()" type="button">Click</button>
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Image
            </th>
            <th>
                Edit/Details/Delete
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstateSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" class="thumbnail"><img src="@item.DefaultImageUrl" alt="No Image" height="110" width="110"></a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstateSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
            </tr>
        }

    </table>
</div>


