@model AuctionLand.Web.Models.RealEstateModel

@{
    ViewBag.Title = "Index";
}

<!-- start DETAIL VIEW OF A REAL ESTATE PROPERTY -->
<div class="container" id="ContainerMaxWidth900">

    <!-- START breadcrumbs-->
    <ol class="breadcrumb">
        <li id="breadCrumbs"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active" id="breadCrumbs">Property ID: @Model.Id </li>
    </ol>
    <!-- END breadcrumbs -->

        <!-- START Detail of Home with Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->
        <!-- START Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->
        <!-- START Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->
        <div class="row">

            <div class="col-md-12">
                <img src="@Model.DefaultImageUrl" class="img-responsive portfolio_frontpage" alt="">

                <div class="portfolio_description hidden-xs">

                    <div class="row">
                        <ul class="list-inline col-sm-10 col-md-12">
                            <li class="navbar-text" id="myNavBarText"><img src="~/Images/bedroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bedroom: </span> @Model.Bedrooms </li>
                            <li class="navbar-text" id="myNavBarText"><img src="~/Images/bathroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bathrooms: </span> @Model.Bathrooms </li>
                            <li class="navbar-text" id="myNavBarText"><img src="~/Images/property.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Property: </span> @Model.EstateSize Sq Ft </li>
                            <li class="navbar-text" id="myNavBarText"><img src="~/Images/measure.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Lot: </span> @Model.LotSize acres </li>
                            <li class="navbar-text" id="myNavBarText"><img src="~/Images/yearBuilt.png" id="BathroomBedroomSizeIcons" style="max-width: 22px" /> <span class="hidden-xs">Built: </span> @Model.YearBuilt</li>
                        </ul>
                    </div>

                    <!-- START social media links-->
                    <div class="btn-group" id="socialMediaSection">
                        <ul class="list-inline">
                            <li class="navbar-text"><a href="http://www.facebook.com"><img src="~/Images/facebookBlue.png" class="img-responsive" id="myIconsMd" /></a></li>
                            <li class="navbar-text"><a href="http://www.google.com"><img src="~/Images/ShareBlue.png" class="img-responsive" id="myIconsMd" /></a></li>
                        </ul>
                        <p class="hidden-xs">Is this the home you've been looking for? Share it with your friends!</p>
                        <p style="margin-top: -20px!important" class="visible-xs">Is this the home you've been looking for? Share it with your friends!</p>
                    </div>

                </div>
            </div>

        </div>
        <!-- END Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->
        <!-- END Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->
        <!-- END Main Image with Bathroom, Bedrooms info and icons ON TOP OF MAIN IMAGE when SM or larger -->

        <!-- START Bathroom, Bedrooms etc that is displayed BELOW MAIN IMAGE when on XS -->
        <!-- START Bathroom, Bedrooms etc that is displayed BELOW MAIN IMAGE when on XS -->
        <div class="visible-xs text-center" id="BathroomBedroomSizeSection">
            <div class="col-md-12">
                <ul class="list-inline col-sm-10 col-md-12">
                    <li class="navbar-text" id="myNavBarText"><img src="~/Images/bedroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bedroom: </span> @Model.Bedrooms </li>
                    <li class="navbar-text" id="myNavBarText"><img src="~/Images/bathroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bathrooms: </span> @Model.Bathrooms </li>
                    <li class="navbar-text" id="myNavBarText"><img src="~/Images/property.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Property: </span> @Model.EstateSize Sq Ft </li>
                    <li class="navbar-text" id="myNavBarText"><img src="~/Images/measure.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Lot: </span> @Model.LotSize acres </li>
                    <li class="navbar-text" id="myNavBarText"><img src="~/Images/yearBuilt.png" id="BathroomBedroomSizeIcons" style="max-width: 22px" /> <span class="hidden-xs">Built: </span> @Model.YearBuilt</li>
                </ul>
            </div>
            <!-- END bathroom bedroom sizes -->
            <!-- START social media links-->
            <div class="col-md-12">
                <div class="btn-group" id="socialMediaSection">
                    <ul class="list-inline">
                        <li class="navbar-text"><a href="http://www.facebook.com"><img src="~/Images/facebookBlue.png" class="img-responsive" id="myIconsMd" /></a></li>
                        <li class="navbar-text"><a href="http://www.google.com"><img src="~/Images/ShareBlue.png" class="img-responsive" id="myIconsMd" /></a></li>
                    </ul>
                    <p class="hidden-xs">Is this the home you've been looking for? Share it with your friends!</p>
                    <p style="margin-top: -20px!important" class="visible-xs">Is this the home you've been looking for? Share it with your friends!</p>
                </div>
            </div>
        </div>
        <!-- END Bathroom, Bedrooms etc that is displayed BELOW the main image when on XS -->
        <!-- END Bathroom, Bedrooms etc that is displayed BELOW the main image when on XS -->

        <!-- START Bid date, time and time left -->
        <div class="row" id="belowMainImage">
           
            <div class="col-xs-6  text-center">
                <span class="hidden-xs">End Date & Time</span>
                <span class="visible-xs">Ends</span>
                <p id="bolderLargerText">@Model.EndDate</p>
            </div>
            <!-- time left to bid in Days:Hours:Minutes-->
            <div class="col-xs-6 text-center">
                Time left
                <p id="bolderLargerText">21:02:21</p>
            </div>
        </div>

        <!-- START Bid and Location Sections -->
        <div class="row" style="margin:0px!important">

            <!-- START bidding price section-->
            <div class="col-sm-5" id="boxedCol">
                <div class="list-group-item list-group-item-warning">
                    <h4 id="panelHeading">
                        <img src="~/Images/USD-512.png" id="myIconsLg">
                        Bidding
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="Col1">
                        <p>@Model.StartingBid.ToString("C")</p>
                        <p id="bolderLargerText"> Users Bid</p>
                    </div>
                    <div class="Col2 text-center">
                        <a class="btn btn-primary btn-md" href="https://google.com/" role="button" id="myBtn">
                            <img src="~/Images/282-cards@2xWHITE.png" id="myImg" />
                            <p id="smallerText">Bid now</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END bidding price section-->

            <div class="col-sm-2" id="dividerSpace"></div>

            <!-- START Location section-->
            <div class="col-sm-5" id="boxedCol">
                <div class="list-group-item list-group-item-warning">
                    <h4 id="panelHeading">
                        <img src="~/Images/marker-512.png" id="myIconsMd">
                        Location
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="Col1">
                        <p>@Model.Street</p>
                        <p>@Model.City, @Model.State @Model.Zip</p>
                    </div>
                    <div class="Col2 text-center">
                        <a class="btn btn-primary btn-md" href="https://maps.google.com/" role="button" id="myBtn">
                            <img src="~/Images/103-map@2xWHITE.png" id="myImg" />
                            <p id="smallerText">View on map</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END Location section-->

        </div>
        <!-- END Bid and Location Sections -->

</div>
<!-- end DETAIL VIEW OF REAL ESTATE -->
