@model AuctionLand.Web.Models.RealEstateModel

@{
    ViewBag.Title = "Index";
}

<!-- START content-->
<div class="container" id="ContainerMaxWidth900">

    <!-- START breadcrumbs-->
    <ol class="breadcrumb">
        <li id="breadCrumbs"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active" id="breadCrumbs">Property ID: @Model.Id </li>
    </ol>
    <!-- END breadcrumbs -->

    <div class="col-md-12">

        <!-- START main image and bid time-->
        <div class="row">
            <img src="~/Images/homeMainImage.jpg" class="img-responsive" />
        </div>

        <div class="row" id="belowMainImage">
            <!-- bid end date-->
            <div class="col-xs-6  text-center">
                <span class="hidden-xs">End Date & Time</span>
                <span class="visible-xs">Ends</span>
                <p id="bolderLargerText">@Model.EndDate</p>
            </div>
            <!-- time left to bid in Days:Hours:Minutes-->
            <div class="col-xs-6 text-center">
                Time left
                <p id="bolderLargerText">21:02:21</p>
            </div>
        </div>
        <!-- END main image and bid info-->
        <!-- START second row of content-->
        <div class="row">

            <!-- START bidding price section-->
            <div class="col-sm-5" id="boxedCol">
                <a href="#" class="list-group-item list-group-item-info"><h4 id="panelHeading"><img src="~/Images/USD-512.png" id="myIconsLg"> Bidding</h4></a>
                <div class="panel-body">
                    <p>$@Model.StartingBid.00</p>
                    <p id="bolderLargerText"> Users Bid</p>
                  
                </div>
            </div>
            <!-- END bidding price section-->

            <div class="col-sm-2" id="dividerSpace"></div>

            <!-- START Map section-->
            <div class="col-sm-5" id="boxedCol">
                <a href="#" class="list-group-item list-group-item-info"><h4 id="panelHeading"><img src="~/Images/marker-512.png" id="myIconsMd"> Location</h4></a>
                <div class="panel-body">
                    <p>@Model.Street</p>
                    <p>@Model.City, @Model.State @Model.Zip</p>
                </div>
            </div>
            <!-- END Map section-->

        </div>
        <!-- END second row of content-->
        <!-- START bottomcontent -->
        <div class="row text-center" id="bottomContent">

            <!-- START bathroom bedroom sizes -->
            <div class="row" id="BathroomBedroomSizeSection">
                <ul class="list-inline col-sm-10 col-md-12">

                    <li class="navbar-text"><img src="~/Images/bedroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bathrooms: </span> @Model.Bathrooms </li>
                    <li class="navbar-text"><img src="~/Images/bathroom.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Bedroom: </span> @Model.Bedrooms </li>
                    <li class="navbar-text"><img src="~/Images/property.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Property: </span> @Model.EstateSize Sq Ft </li>
                    <li class="navbar-text"><img src="~/Images/measure.png" id="BathroomBedroomSizeIcons" /> <span class="hidden-xs">Lot: </span> @Model.LotSize acres </li>
                    <li class="navbar-text"><img src="~/Images/yearBuilt.png" id="BathroomBedroomSizeIcons" style="max-width: 22px" /> <span class="hidden-xs">Built: </span> @Model.YearBuilt</li>
                </ul>
            </div>
            <!-- END bathroom bedroom sizes -->
            <!-- START social media links-->
            <div class="btn-group" id="socialMediaSection">
                <ul class="list-inline">
                    <li class="navbar-text"><a href="http://www.facebook.com"><img src="~/Images/facebook-512.png" class="img-responsive" id="myIconsMd" /></a></li>
                    <li class="navbar-text"><a href="http://www.google.com"><img src="~/Images/Share.png" class="img-responsive" id="myIconsMd" /></a></li>
                </ul>
                <p>Is this the home you've been looking for? Share it with your friends!</p>
            </div>
            <!-- END social media links-->

        </div>
        <!-- END bathroom bedroom sizes -->

    </div>
    <p class="visible-xs" id="lightGrayText">XS This is phone size</p>
    <p class="visible-sm" id="lightGrayText">SM This is tablet size</p>
    <p class="visible-md" id="lightGrayText">MD This is desktop size</p>
</div>

<!-- END content-->
