<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function filterPopUp() {
            var other_html = $("div.FiltersAlert").html();
            bootbox.alert(other_html);
        }
    </script>

</head>

<!-- START HEADER NAVIGATION AND FOOTER THAT APPEARS ON EVERY PAGE -->
<body id="newBodyBkgd">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="ContainerMaxWidth900">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Auction Land", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <!-- START Search Nav Bar -->
            <div class="input-group" id="searchNavBar">
                <div class="input-group-btn">
                    <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        A-Z <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Bedrooms</a></li>
                        <li><a href="#">Bathrooms</a></li>
                        <li><a href="#">Garages</a></li>
                        <li><a href="#">Property Size</a></li>
                        <li><a href="#">Bid Price</a></li>
                    </ul>
                    <a href="#" class="btn btn-default" onclick="filterPopUp()">Filter BB</a>
                    <a href="#searchBOOTSTRAP" class="btn btn-default" role="button" data-toggle="modal">Filter BS</a>
                </div>
                <input type="text" class="form-control" id="searchField" placeholder="Search...">
                <div class="input-group-btn">
                    <a role="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
            <!-- END Search Nav Bar -->

        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Auction Land.</p>
        </footer>
    </div>

    <!-- START modal for Filter -->
    <div class="modal fade" id="searchBOOTSTRAP" role="dialog">
        <div class="modal-dialog" id="modalDialog100Width">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Search</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4" id="locationSearch">
                            <h4>Location</h4>
                            <label for="contact-name" class="control-label">City: </label>
                            @* ORIGINAL INPUT FIELD
                                <input type="text" class="form-control" id="search-City"
                                   placeholder="Enter city">*@

                            <!-- START Testing out the search field-->
                            @using (Html.BeginForm("SearchHomes", "Home", FormMethod.Get))
                            { 
                                @Html.TextBox("search") <input type="submit" value="Search" />
                            }
                            <!-- END Testing out the search field-->

                            <label for="contact-name" class="control-label">State: </label>
                            <input type="text" class="form-control" id="search-State"
                                   placeholder="Enter state">

                            <label for="contact-name" class="control-label">Zip: </label>
                            <input type="text" class="form-control" id="search-Zip"
                                   placeholder="Enter zip">
                        </div>

                        <div class="col-sm-4" id="amenitiesSearch">
                            <h4>Amenities</h4>
                            <label for="contact-name" class="control-label">Minimum Bedrooms: <b id="minBedroomsDisplay"></b></label>
                            <form action="demo_form.asp" method="get" id="extraBottomMargin">
                                <input type="range" min="0" max="2" id="search-Bedrooms">
                            </form>

                            <label for="contact-name" class="control-label">Min Bathrooms: <b id="minBathroomsDisplay"></b></label>
                            <form action="demo_form.asp" method="get" id="extraBottomMargin">
                                <input type="range" min="0" max="2" id="search-Bathrooms">
                            </form>

                            <label for="contact-name" class="control-label">Min Garages: <b id="minGaragesDisplay"></b></label>
                            <form action="demo_form.asp" method="get">
                                <input type="range" min="0" max="2" id="search-Garages">
                            </form>
                        </div>

                        <div class="col-sm-4" id="pricingSearch">
                            <h4>Pricing</h4>
                            <label for="contact-name" class="control-label">Min Bid Price: <b id="minBidDisplay"></b></label>
                            <form action="demo_form.asp" method="get" id="extraBottomMargin">
                                <input type="range" min="0" max="20" value='0' id="search-BidMin" />
                            </form>

                            <label for="contact-name" class="control-label">Max Bid Price: <b id="maxBidDisplay"></b></label>
                            <form action="demo_form.asp" method="get" id="extraBottomMargin">
                                <input type="range" min="8" max="30" value='0' id="search-BidMax" />
                            </form>

                            <label for="contact-name" class="control-label">Property Type: <b id="propertyTypeDisplay"></b></label>
                            <form id="propertyDropDown">
                                <div class="btn-group">
                                    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                                    <button class="btn">Choose</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="clickProperty()"> <span class="caret"></span> </button>
                                    <ul class="dropdown-menu dropdown-inverse">
                                        <li><a href="#fakelink" id="propertyBtn">Single Family</a></li>
                                        <li><a href="#fakelink" id="propertyBtn">Multi-Family</a></li>
                                        <li><a href="#fakelink" id="propertyBtn">Condo or Townhome</a></li>
                                        <li><a href="#fakelink" id="propertyBtn">Land</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="modal-footer" id="myModalFooter">
                    <div class="row col-sm-12">
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- END modal for Filter -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootbox")
    @RenderSection("scripts", required: false)

    @Html.Action("Filters", "Home");

    <script>
        // START slider Min Bedrooms
        var rMinBedroom = document.getElementById('search-Bedrooms');
        var maxMinBedroom = rMinBedroom.getAttribute('max');
        var minMinBedroom = rMinBedroom.getAttribute('min');
        var wMinBedroom = rMinBedroom.clientWidth;
        var isDragging = false;

        var moveTipMinBedroom = (function (e) {
            if (isDragging) {
                var posPercMinBedroom = (rMinBedroom.value * maxMinBedroom) * 1;
                var pixPosMinBedroom = (posPercMinBedroom * 1) * wMinBedroom;
                pixPosMinBedroom += rMinBedroom.offsetLeft;
                document.getElementById('minBedroomsDisplay').innerHTML = posPercMinBedroom;
            }
        });

        rMinBedroom.onmousedown = (function (e) {
            isDragging = true;
            rMinBedroom.addEventListener('mousemove', moveTipMinBedroom, false);
        });

        rMinBedroom.onmouseup = (function (e) {
            isDragging = false;
            rMinBedroom.removeEventListener('mousemove', moveTipMinBedroom);
        });
        // END slider Min Bedrooms


        // START slider Min Bathrooms
        var rMinBathroom = document.getElementById('search-Bathrooms');
        var maxMinBathroom = rMinBathroom.getAttribute('max');
        var minMinBathroom = rMinBathroom.getAttribute('min');
        var wMinBathroom = rMinBathroom.clientWidth;
        var isDragging = false;

        var moveTipMinBathroom = (function (e) {
            if (isDragging) {
                var posPercMinBathroom = (rMinBathroom.value * maxMinBathroom) * 1;
                var pixPosMinBathroom = (posPercMinBathroom * 1) * wMinBathroom;
                pixPosMinBathroom += rMinBathroom.offsetLeft;
                document.getElementById('minBathroomsDisplay').innerHTML = posPercMinBathroom;
            }
        });

        rMinBathroom.onmousedown = (function (e) {
            isDragging = true;
            rMinBathroom.addEventListener('mousemove', moveTipMinBathroom, false);
        });

        rMinBathroom.onmouseup = (function (e) {
            isDragging = false;
            rMinBathroom.removeEventListener('mousemove', moveTipMinBathroom);
        });
        // END slider Min Bathrooms


        // START slider Min Garages
        var rMinGarage = document.getElementById('search-Garages');
        var maxMinGarage = rMinGarage.getAttribute('max');
        var minMinGarage = rMinGarage.getAttribute('min');
        var wMinGarage = rMinGarage.clientWidth;
        var isDragging = false;

        var moveTipMinGarage = (function (e) {
            if (isDragging) {
                var posPercMinGarage = (rMinGarage.value * maxMinGarage) * 1;
                var pixPosMinGarage = (posPercMinGarage * 1) * wMinGarage;
                pixPosMinGarage += rMinGarage.offsetLeft;
                document.getElementById('minGaragesDisplay').innerHTML = posPercMinGarage;
            }
        });

        rMinGarage.onmousedown = (function (e) {
            isDragging = true;
            rMinGarage.addEventListener('mousemove', moveTipMinGarage, false);
        });

        rMinGarage.onmouseup = (function (e) {
            isDragging = false;
            rMinGarage.removeEventListener('mousemove', moveTipMinGarage);
        });
        // END slider Min Garages


        // START slider MIN Bid Price
        var rMinBid = document.getElementById('search-BidMin');
        var maxMinBid = rMinBid.getAttribute('max');
        var minMinBid = rMinBid.getAttribute('min');
        var wMinBid = rMinBid.clientWidth;
        //w += r.offsetLeft;
        var isDragging = false;

        var moveTipMinBid = (function (e) {
            if (isDragging) {
                var posPercMinBid = (rMinBid.value * maxMinBid) * 750;
                var pixPosMinBid = (posPercMinBid * 200) * wMinBid;
                pixPosMinBid += rMinBid.offsetLeft;
                document.getElementById('minBidDisplay').innerHTML = "$" + posPercMinBid.toFixed(2);
            }
        });

        rMinBid.onmousedown = (function (e) {
            isDragging = true;
            rMinBid.addEventListener('mousemove', moveTipMinBid, false);
        });

        rMinBid.onmouseup = (function (e) {
            isDragging = false;
            rMinBid.removeEventListener('mousemove', moveTipMinBid);
        });
        // END slider MIN Bid Price


        // START slider MAX Bid Price
        var rMaxBid = document.getElementById('search-BidMax');
        var maxMaxBid = rMaxBid.getAttribute('max');
        var minMaxBid = rMaxBid.getAttribute('min');
        var wMaxBid = rMaxBid.clientWidth;
        //w += r.offsetLeft;
        var isDragging = false;

        var moveTipMaxBid = (function (e) {
            if (isDragging) {
                var posPercMaxBid = (rMaxBid.value * maxMaxBid) * 1300;
                var pixPosMaxBid = (posPercMaxBid * 200) * wMaxBid;
                pixPosMaxBid += rMaxBid.offsetLeft;
                document.getElementById('maxBidDisplay').innerHTML = "$" + posPercMaxBid.toFixed(2);
            }
        });

        rMaxBid.onmousedown = (function (e) {
            isDragging = true;
            rMaxBid.addEventListener('mousemove', moveTipMaxBid, false);
        });

        rMaxBid.onmouseup = (function (e) {
            isDragging = false;
            rMaxBid.removeEventListener('mousemove', moveTipMaxBid);
        });
        // END slider MAX Bid Price


        // START click Property Type Dropdown
        function clickProperty() {
            $(".dropdown-inverse li a").click(function () {
                searchedProperty = $(this).text();

                document.getElementById('propertyTypeDisplay').innerHTML = searchedProperty;
            });
        };
        // END click Property Type Dropdown
    </script>

    </body>
</html>