<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function myBBAlert() {
            $("#searchCity").val();
            $("#searchState").val();
            $("#searchZip").val();
            $("#searchBedrooms").val();
            $("#searchBathrooms").val();
            $("#searchGarages").val();
            $("#sliderBidMin").val();
            $("#sliderBidMax").val();
            $("#propertyDropDown").val();

            var other_html = $("div.searchBOOTBOX").html();
            bootbox.alert(other_html);
         }
    </script>

</head>

    <body id="newBodyBkgd">

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container" id="ContainerMaxWidth900">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
    @Html.ActionLink("Auction Land", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Real Estate", "Index", "RealEstate")</li>
                        <li><a href="#" onclick="myBBAlert()">Search BootBOX</a></li>
                        <li><a href="#searchBOOTSTRAP" data-toggle="modal">Search BootSTRAP</a></li>
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>

        <div class="container body-content">
    @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - Auction Land.</p>
            </footer>
        </div>

        @Html.Action("Search", "Home")

        <div class="modal fade" id="searchBOOTSTRAP" role="dialog">
            <div class="modal-dialog" id="modalDialog100Width">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Search</h2>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4" id="locationSearch">
                                    <h4>Location</h4>
                                    <label for="contact-name" class="control-label">City: </label>
                                    <input type="text" class="form-control" id="search-City"
                                           placeholder="Enter city">

                                    <label for="contact-name" class="control-label">State: </label>
                                    <input type="text" class="form-control" id="search-State"
                                           placeholder="Enter state">

                                    <label for="contact-name" class="control-label">Zip: </label>
                                    <input type="text" class="form-control" id="search-Zip"
                                           placeholder="Enter zip">
                                </div>

                                <div class="col-sm-4" id="amenitiesSearch">
                                    <h4>Amenities</h4>
                                    <label for="contact-name" class="control-label">Min Bedrooms: </label>
                                    <form action="demo_form.asp" method="get">
                                        <input type="range" name="points" min="0" max="10" id="search-Bedrooms">
                                    </form>

                                    <label for="contact-name" class="control-label">Min Bathrooms: </label>
                                    <form action="demo_form.asp" method="get">
                                        <input type="range" name="points" min="0" max="10" id="search-Bathrooms">
                                    </form>

                                    <label for="contact-name" class="control-label">Min Garages: </label>
                                    <form action="demo_form.asp" method="get">
                                        <input type="range" name="points" min="0" max="10" id="search-Garages">
                                    </form>
                                </div>

                                <div class="col-sm-4" id="pricingSearch">
                                    <h4>Pricing</h4>
                                    <label for="contact-name" class="control-label">Bid Price  </label>
                                    <form action="demo_form.asp" method="get">
                                        <input type="range" name="points" min="0" max="10000000" id="mySlider">
                                    </form>

                                    <label for="contact-name" class="control-label">Bid Price Max </label>
                                    <form action="demo_form.asp" method="get">
                                        <input type="range" name="points" min="0" max="10" id="mySlider">
                                    </form>

                                    <label for="contact-name" class="control-label">Property Type </label>
                                    <div class="row">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="propertyDropDown">
                                                Select Property Type <span class=" caret">
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Single Family</a></li>
                                                <li><a href="#">Multiple Family</a></li>
                                                <li><a href="#">Condo or Townhome</a></li>
                                                <li><a href="#">Land</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="myModalFooter">
                        <div class="row col-sm-12">
                            <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <a class="btn btn-primary">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootbox")
        @RenderSection("scripts", required: false)

    </body>
</html>