<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function resultsPopUp1() {
            var other_html = $("#div.searchBOOTBOX").html()
            bootbox.alert(other_html);
        }
 
        function resultsPopUp2() {
            alert("test 1");
            var some_html = '<img src="images/bootstrap_logo.png" width="100px"/><br />';
            alert("test 2");
            some_html += '<h2>You can use custom HTML too!</h2><br />';
            alert("test 3");
            some_html += '<h4>Just be sure to mind your quote marks</h4>';
            alert("test 4");
            bootbox.alert(some_html);
            alert("test 5");
        }
    </script>

            </head>

            <!-- START HEADER NAVIGATION AND FOOTER THAT APPEARS ON EVERY PAGE -->
                <body id="newBodyBkgd">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <div class="container" id="ContainerMaxWidth900">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
            @Html.ActionLink("Auction Land", "Index", "Home", null, new { @class = "navbar-brand" })
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                </ul>
            @Html.Partial("_LoginPartial")
                            </div>

                            <!-- START Search Nav Bar -->
                            <div class="input-group" id="searchNavBar">
                                <div class="input-group-btn">
                                    <a data-toggle="dropdown" class="btn btn-default dropdown-toggle">A-Z <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Bedrooms</a></li>
                                        <li><a href="#">Bathrooms</a></li>
                                        <li><a href="#">Garages</a></li>
                                        <li><a href="#">Property Size</a></li>
                                        <li><a href="#">Bid Price</a></li>
                                    </ul>
                                        <a href="#" class="btn btn-default" onclick="resultsPopUp1()">Filter1</a>
                                        <a href="#" class="btn btn-default" onclick="resultsPopUp2()">Filter2</a>
                                        <!-- <a href="#searchBOOTSTRAP" class="btn btn-default" role="button" data-toggle="modal">Filter</a> -->
            </div>
                                <input type="text" class="form-control" id="searchField" placeholder="Search...">
                                <div class="input-group-btn">
                                    <a role="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                            </div>
                            <!-- END Search Nav Bar -->
                        </div>
                     </div>

                    <div class="body-content">
            @RenderBody()
                        <hr />
                        <footer class="text-center">
                            <p>&copy; @DateTime.Now.Year - Auction Land.</p>
                        </footer>
                    </div>

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @Scripts.Render("~/bundles/bootbox")
            @RenderSection("scripts", required: false)
                </body>
</html>