@model AuctionLand.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Auction Land";
}

<div class="container" id="ContainerMaxWidth900">
    <div class="text-center">
        <h1>Featured Homes</h1>
@foreach (var featuredHome in Model.FeaturedHomes)
{
    <div class="col-sm-4" id="realEstateCell">

        <div class="row">
            <img src="~/Images/homeMainImage.jpg" class="img-responsive" id="imageWithPadding" />
            Featured Home @featuredHome.Street
            <p id="currentBid">@featuredHome.StartingBid.ToString("C")</p>
            <img src="~/Images/bedroom.png" id="BathroomBedroomSizeIcons" /> @featuredHome.Bathrooms
            <img src="~/Images/bathroom.png" id="BathroomBedroomSizeIcons" />@featuredHome.Bedrooms
            <img src="~/Images/property.png" id="BathroomBedroomSizeIcons" />@featuredHome.EstateSize.ToString("N") Sq Ft
            <img src="~/Images/yearBuilt.png" id="BathroomBedroomSizeIcons" style="max-width: 22px" />@featuredHome.YearBuilt
        </div>
    </div>
}
    </div>
</div>
